// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@font-face {
  font-family: "OptimisticDisplay";
  src: url(./fonts/OptimisticDisplayBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "OptimisticDisplay";
  src: url(./fonts/OptimisticDisplayRegular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "OptimisticDisplay";
  src: url(./fonts/OptimisticDisplayLight.woff2);
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "OptimisticDisplay";
  font-weight: 400;
  font-size: 17px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

p {
  // line-height: 27px;
}

.react-native-title {
  font-size: 18px;
  font-weight: 600;
}

.react-native-title:hover {
  color: #61dafb;
}

.navbar {
  background-color: #20232a;
  color: rgb(245, 246, 247);
  position: sticky;
  top: 0;
  font-weight: 500;
  padding: 0px 16px;
  z-index: 1;
}

.navbar-sidebar {
  display: none;
  font-size: 17px;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
}

.navbar_inner {
  width: 100%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar__toggle {
  display: none;
  margin-right: 0.5rem;
}

.clean-btn {
  background: none;
  border: none;
  color: inherit;
}

.navbar_items {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
}

.react-native-icon {
  margin-right: 10px;
}

.navbar_items a {
  text-decoration: none;
  color: white;
}

.navbar_items--right {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.navbar_item {
  padding: 0px 18px;
}

.navbar_item:hover {
  color: #06bcee;
}

.navbar-github-link:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  display: flex;
  height: 20px;
  width: 20px;
  transition: opacity 0.2s;
}

.navbar-github-link:hover:after {
  opacity: 0.5;
}

.lightMode_icon {
  display: flex;
}

.lightMode_icon:hover {
  background-color: #444950;
  border-radius: 50%;
}

.searchBox {
  padding: 12px;
}

.seach_placeholder {
  color: rgb(150, 159, 175);
  font-size: 14px;
  font-weight: 500;
}

.searchButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px 5px;
}

.searchButton {
  span {
    display: flex;
    align-items: center;
    padding: 2px;
  }
}

.dropdown_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown_items {
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: white;
  color: gray;
  list-style: none;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  font-size: 0.975rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dropdown_items li {
  margin: 5px 0px;
  padding: 5px;
}

.dropdown_items {
  li:hover {
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
    color: black;
  }
}

.section {
  padding: 50px 0px;
  //   overflow: hidden;
}

.headerHero {
  background-color: #282c34;
}

.social_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: -10px auto 0;
  padding-top: 50px;
}

.twitter-follow-button {
  width: fit-content;
  background-color: #1b95e0;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  padding: 3px;
  font-size: 13px;
  font-weight: 400;
  padding: 1px 10px 1px 9px;
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-follow-button {
  .icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath fill='none' d='M0 0h72v72H0z'/%3E%3Cpath class='icon' fill='%23fff' d='M68.812 15.14a26.189 26.189 0 0 1-7.52 2.06 13.125 13.125 0 0 0 5.757-7.243 26.133 26.133 0 0 1-8.314 3.176A13.066 13.066 0 0 0 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396a13.057 13.057 0 0 0-1.77 6.58c0 4.543 2.312 8.552 5.824 10.9a13.05 13.05 0 0 1-5.93-1.64c-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09a26.29 26.29 0 0 1-16.26 5.605c-1.055 0-2.096-.06-3.122-.184a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693a26.61 26.61 0 0 0 6.532-6.774z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    width: 18px;
  }
}

.star {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 17px;
}

.headerHero_content {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.headerHero_left {
  display: flex;
  flex-direction: column;
}

.headerHero_left {
  .title {
    color: #61dafb;
    font-size: 84px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 20px;
    line-height: 1;
  }
}

.headerHero_left {
  .tagline {
    color: white;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0px;
  }
}

.headerHero_left {
  .buttons {
    margin-top: 40px;
  }
}

.actionButton {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  transition: 0.2s ease-out;
}

.primary:hover {
  background-color: #fff;
  color: #000;
}

.primary {
  background-color: #61dafb;
  color: #282c34;
}

.actionButton {
  .secondary:hover {
    color: #fff;
  }
}

.secondary {
  background-color: none;
  color: #61dafb;
}

.secondary:hover {
  color: white;
}

.actionButton.secondary:after {
  content: "›";
  font-size: 24px;
  margin-left: 5px;
}

.desc {
  color: rgb(28, 30, 33);
  line-height: 28.05px;
  font-weight: 100;
}

.nativeApps {
  width: 100%;
  max-width: 900px;
  max-height: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  // gap: 60px;
  overflow-y: hidden;
}

.nativeApps_left {
  width: 100%;
  padding-right: 50px;
  max-height: 400px;
  margin-top: -25px;
}

.nativeApps_left img {
  height: 520px;
}

.nativeApps_right {
  padding-left: 50px;
}

// .nativeApps_right {
.heading {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}
// }

.nativeCode {
  background-color: #f2f2f2;
}

.nativeCode_content {
  display: flex;
  margin: 0 auto;
  overflow: auto;
  padding: 50px 0px;
}

.nativeCode_left {
  width: 50%;
}

.nativeCode_left_content {
  max-width: 450px;
  padding-right: 50px;
  margin-left: auto;
}

.nativeCode_right {
  margin-top: -50px;
  margin-bottom: -50px;
  overflow: auto;
  width: 50%;
  background-color: #282c34;
  position: relative;
}

.nativeCode_right_content {
  // max-width: 450px;
  padding: 16px 1.5rem;
  color: white;
}

.copy-btn {
  display: none;
  cursor: pointer;
  color: white;
  background: transparent;
  border: 2px solid gray;
  padding: 6.8px;
  border-radius: 5px;
  opacity: 0.4;
  position: sticky;
  left: 50%;
  top: 1rem;
}

.nativeCode_right:hover {
  .copy-btn {
    display: flex;
  }
}

.nativeCode_right_content {
  .tag {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-weight: 400;
    font-size: 15.3px;
  }
}

.nativeCode_code_content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  padding-bottom: 50px;
  line-height: 22.95px;
}

.keyword {
  color: rgb(197, 165, 197);
}

.import {
  /* font-size: small; */
}

.module {
  color: rgb(141, 200, 145);
}

.punctuation {
  color: rgb(101, 123, 131);
  margin: -3px;
}

.element {
  color: rgb(250, 200, 99);
}

.plain {
  white-space: pre !important;
}

.nativeDevelopment {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0px;
}

.nativeDevelopment_left {
  width: 50%;
  position: relative;
  margin-top: -30px;
}

.native_development_img {
  width: 400px;
  max-height: 370px;
  position: absolute;
}

.nativeDevelopment_right {
  width: 50%;
  padding-left: 50px;
}

.span_button {
  background-color: rgb(0, 0, 0, 0.06);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 90%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  padding: 0.1rem;
}

.crossPlatform {
  background-color: #f2f2f2;
}

.crossPlatform_content {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}

.crossPlatform_left {
  width: 50%;
  padding-right: 50px;
}

.crossPlatform_right {
  width: 50%;
  padding-left: 50px;
}

.crossPlatform_right svg {
  margin: -20px 0;
  max-width: 400px;
}

.crossPlatform_right svg tspan {
  font-family: "OptimisticDisplay";
}

.fastRefresh {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.fastRefresh_left {
  overflow: hidden;
  margin: -50px 0px;
  max-height: 348px;
}

// .fastRefresh_left video{
//   height: 348;
// }

.fastRefresh_right {
  width: 33.33%;
  max-width: 450px;
  padding-left: 50px;
}

.videoContent {
  background-color: #f2f2f2;
}

.videoContent_content {
  max-width: 900px;
  margin: 0 auto;
}

.videoContent_first {
  display: flex;
}

.videoContent_first_left,
.videoContent_second_left {
  width: 33.33%;
  padding-right: 50px;
}

.videoContent_first_right,
.videoContent_second_right {
  width: 66.66%;
  padding-left: 50px;
}

.videoContent_first_right iframe,
.videoContent_second_right iframe {
  width: 560px;
  height: 315px;
  border: none;
}

.videoContent_second {
  display: flex;
}

.lightBlue_button {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  line-height: 21px;
}

.community {
  max-width: 900px;
  margin: 0 auto;
}

.community .heading {
  margin-bottom: 20px;
}

.community_desc {
  display: flex;
}

.community_desc_intro {
  display: flex;
  gap: 15px;
}

.community_desc_left {
  width: 50%;
  padding-right: 50px;
  border-right: 1px solid rgb(170, 169, 169);
}

.community_desc_left .firstP img {
  float: left;
  margin-right: 20px;
}

.community_desc_right {
  width: 50%;
  padding-left: 50px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 16px;
}

.grid_container {
  img {
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0 6px 14px hsla(0, 0%, 8%, 0.08);
  }
}

.getStarted {
  background-color: #282c34;
}

.getStarted_content {
  max-width: 900px;
  //   height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.getStarted {
  .heading {
    margin-bottom: 20px;
    color: #61dafb;
    text-align: center;
  }
}

.getStarted {
  ol {
    color: white;
  }
}

.getStarted {
  .steps {
    li {
      margin-bottom: 10px;
    }
  }
}

.getStarted {
  .steps {
    align-self: center;
  }
}

.getStarted {
  li::marker {
    color: #525860;
  }
}

.getStarted {
  .steps {
    li {
      font-size: 28px;
    }
  }
}

.getStarted {
  .steps {
    p {
      font-size: 17px;
    }
  }
}

.getStarted .terminal {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
  position: relative;
  width: 600px;
}

.getStarted {
  .terminal:before {
    color: gray;
    content: "○ ○ ○";
    font-size: 26px;
    left: 15px;
    position: absolute;
    top: 0px;
    letter-spacing: -2px;
  }
}

.getStarted {
  .terminal {
    code:first-child:before {
      color: gray;
      content: ">";
      left: -15px;
      position: absolute;
    }
  }
}

code {
  font-size: 18px;
  position: relative;
  margin: 5px 0;
}

.step_name {
  margin-bottom: 20px;
}

.footer {
  background-color: #20232a;
}

.footer_content {
  max-width: 900px;
  margin: 0 auto;
  padding: 34px 32px;
}

.footer {
  .footer_title {
    color: #858a96;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 8px;
  }
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_links {
  a {
    text-decoration: none;
    color: white;
    line-height: 1.44;
  }
}

.footer_col {
  ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    font-size: 14px;
  }
}

.footer_item {
  padding-top: 8px;
}

.footer_item a {
  color: rgb(235, 237, 240);
}

.footer_bottom {
  margin: 30px 0px;
}

.footer_bottom {
  a {
    text-decoration: none;
    color: #858a96;
  }
}

.meta_open_source {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.meta_icon {
  display: flex;
  align-items: center;
}

.footer_copyright {
  text-align: center;
  color: #858a96;
  font-size: 13px;
  letter-spacing: 0px;
}

@media screen and (max-width: 1200px) {
  .search-icon {
    height: 20px;
    width: 20px;
  }

  .searchButton {
    padding: 8px;
  }

  .seach_placeholder {
    display: none;
  }

  .searchButton {
    span:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .searchBox {
    padding: 12px 0px;
  }

  .navbar__toggle {
    display: block;
    cursor: pointer;
  }

  .navbar_item {
    display: none;
  }

  .lightMode_icon {
    display: none;
  }

  // .navbar__toggle:hover .navbar-sidebar {
  //   font-size: 17px;
  //   display: block;
  //   position: absolute;
  //   z-index: 1;
  //   background-color: white;
  //   top: 0;
  //   left: 0;
  //   width: 350px;
  //   height: 100vh;
  // }

  .sidebar_lightMode_icon:hover {
    background-color: #444950;
    border-radius: 50%;
  }

  .sidebar_close_btn:hover {
    background-color: #444950;
  }

  .navbar-sidebar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #20232a;
  }

  .navbar-sidebar-brand_left {
    display: flex;
    align-items: center;
  }

  .navbar-sidebar-links {
    color: #606770;
    font-family: "OptimisticDisplay";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    width: 100%;
  }

  .navbar-sidebar-links a {
    // position: relative;
    text-decoration: none;
    color: #606770;
    font-family: "OptimisticDisplay";
    font-weight: 400;
    width: 100%;
    text-align: start;
  }

  .navbar-sidebar-item {
    padding: 4px 12px;
    width: 100%;
  }

  .navbar-sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .sidebar_dropdown_title {
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }

  .sidebar_dropdown_items {
    display: none;
    // position: absolute;
    // left: 340px;
    top: 0px;
    // background-color: red;
    color: gray;
    text-align: start;
    list-style: none;
    font-weight: 100;
    // padding: 10px 0px;
    border-radius: 10px;
    width: 180px;
    font-size: 0.975rem;
  }

  .hide {
    display: none;
  }

  .sidebar_dropdown_items li {
    margin: 5px 0px;
    padding: 5px;
  }

  .sidebar_dropdown {
    position: relative;
  }

  .sidebar_dropdown:hover {
    .sidebar_dropdown_items {
      // display: block;
    }
  }

  .sidebar_dropdown_items {
    li:hover {
      background-color: rgb(230, 228, 228);
      border-radius: 5px;
      color: black;
    }
  }
}

@media screen and (max-width: 961px) {
  .section {
    padding: 50px 68px;
  }

  .headerHero_content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
  }

  .headerHero_left {
    align-items: center;
  }

  .nativeApps {
    max-width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    max-height: inherit;
    // padding: 0;
    margin: 0;
  }

  .nativeApps_left {
    padding-right: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    max-height: 300px;
  }

  .nativeApps_left img {
    width: 66.66%;
  }

  .nativeApps_right {
    padding-left: 0px;
  }

  .nativeCode_content {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .nativeCode_left {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 68px 0px 68px;
  }

  .nativeCode_left_content {
    max-width: 100%;
    padding-right: 0px;
  }

  .nativeCode_right {
    width: 100%;
    // height: 28rem;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: auto;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .nativeCode_right_content {
    max-width: inherit;
    width: 100vw;
    padding: 0px;
  }

  .copy-btn {
    color: white;
    background: transparent;
    border: 2px solid gray;
    padding: 6.8px;
    border-radius: 5px;
    opacity: 0.4;
    left: 95%;
    top: 0.5rem;
  }

  .nativeCode_code_content {
    width: fit-content;
    display: flex;
    justify-content: center;
    // gap: 2rem;
    margin: 0 auto;
    position: inherit;
    top: inherit;
    padding-top: 50px;
    // padding-bottom: 0px;
  }

  .nativeDevelopment {
    max-width: 100%;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 50px 68px;
    margin: 0;
  }

  .nativeDevelopment_left {
    width: 100%;
    margin-top: 0px;
    height: 250px;
    display: flex;
    justify-content: center;
  }

  .native_development_img {
    width: 80%;
    position: absolute;
  }

  .nativeDevelopment_right {
    width: 100%;
    padding-left: 0px;
  }

  ////////////////////////////////////////

  .crossPlatform_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .crossPlatform_left {
    width: 100%;
    padding-right: 0px;
  }

  .crossPlatform_right {
    width: 100%;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }

  .crossPlatform_right svg {
    margin: 0 auto;
    max-width: 100%;
  }

  //////////////////////////

  .fastRefresh {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding-bottom: 0px;
  }

  .fastRefresh_left {
    margin: 0px -68px;
    margin-bottom: -50px;
  }

  .fastRefresh video {
    width: 100%;
    height: auto;
  }

  .fastRefresh_right {
    max-width: inherit;
    width: 100%;
    padding-left: 0px;
  }

  .videoContent_first,
  .videoContent_second {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .videoContent_first_left,
  .videoContent_second_left {
    width: 100%;
    padding-right: 0px;
  }

  .videoContent_first_right,
  .videoContent_second_right {
    width: 100%;
    padding-left: 0px;
  }

  .videoContent_first_right iframe,
  .videoContent_second_right iframe {
    width: 100%;
  }

  .community {
    // max-width: 100%;
    // margin: 0 auto;
  }

  .community_desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .community_desc_intro {
    display: flex;
    gap: 15px;
  }

  .community_desc_left {
    width: 100%;
    padding-right: 0px;
    border-right: none;
  }

  .community_desc_right {
    width: 100%;
    padding-left: 0px;
  }

  .grid_container {
    max-width: 500px;
    margin: 1rem auto;
  }

  .footer_content {
    margin: 0;
  }

  .footer_links {
    row-gap: 30px;
  }

  .footer_col {
    width: 50%;
    text-align: center;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 760px) {
  .social_links {
    margin-top: -2rem;
  }
  .headerHero_left {
    .title {
      font-size: 60px;
      text-align: center;
      line-height: 1;
      margin-bottom: 10px;
      // height: 50px;
    }
  }

  .headerHero_left {
    .tagline {
      font-size: 30px;
      text-align: center;
    }
  }

  .nativeCode_code_content {
    // width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .copy-btn {
    left: 90%;
  }

  .getStarted_content {
    width: 80%;
  }

  .terminal {
    width: 100% !important;
  }
}

@media screen and (max-width: 552px) {
  .nativeApps_left img {
    width: 100%;
  }
  .native_development_img {
    width: 80%;
    max-height: auto;
    position: absolute;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .footer_col {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }

  .footer_links {
    row-gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .headerHero_left {
    align-items: flex-start;
  }

  .actionButton {
    width: 100%;
    text-align: center;
  }
  .section {
    padding: 50px 20px;
  }

  .nativeDevelopment {
    padding: 50px 20px;
  }

  .nativeCode_left {
    padding: 50px 20px 0px 20px;
  }

  .nativeCode_code_content {
    width: 100%;
    padding-left: 20px;
  }

  .copy-btn {
    left: 85%;
  }
}
