.row {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;

  #input-box {
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 20px;
  }

  .button {
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(230, 129, 57);
    color: white;
    transition: 0.4s ease-out;

    &:hover {
      background-color: rgb(94, 92, 92);
    }
  }
}

@media screen and (max-width: 900px) {
  .row {
    gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .row {
    gap: 10px;

    #input-box {
      font-size: 16px;
      height: 40px;
      width: 75%;
    }

    .button {
      height: 40px;
      font-size: 16px;
      width: 25%;
    }
  }
}