.row {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

#input-box {
    width: 80%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: larger;
  }
  
  .button {
    width: 20%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: larger;
    cursor: pointer;
  }
  
  .button:hover{
    background-color: rgb(94, 92, 92);
    border: none;
    color: white;
  }