.movie_card {
  width: 150px;
  min-width: 150px;
  border: none;
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;


  &.default {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &.small {
    width: 140px;
    min-width: 140px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(rgb(227,227,227),1);
    margin-bottom: 2px;
    overflow: hidden;
    border-radius: 8px;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &.full {
    width: 180px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  .movie_card_image {
    .poster {
      width: 100%;
      min-height: 225px;
      max-height: 225px;
      overflow: hidden;
      cursor: pointer;

      &.default {
        border-radius: 8px;
      }

      &.small {
        min-height: 175px;
        max-height: 175px;
      }

      &.full {
        min-height: 270px;
        max-height: 270px;
      }

      &.no_img {
      background-color: #dbdbdb;
      }
    }
  }

  .movie_card_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 26px 10px 12px;
    white-space: normal;

    &.small {
      padding-top: 10px;
    }

    h2 {
      font-size: 1em;
      margin: 0;
      width: 100%;
      text-align: left;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
        transition: ease-in-out 0.1s;

        &:hover {
          color: rgba(rgb(1, 180, 228), 1);
        }
      }
    }

    p {
      font-size: 1em;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
