* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffc600;
}

.heading {
    text-align: center;
    margin-bottom: 10px;

}

.container {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    background-color: rgb(158, 224, 202);
    padding: 20px 10px;
    border-radius: 10px;
}

.row {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

#input-box {
    width: 80%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: larger;
}

#add-button {
    width: 20%;
    height: 50px;
    border: 2px solid orangered;
    border-radius: 20px;
    font-size: larger;
}

.todo {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px auto 0px;
    background-color: rgb(158, 224, 202);
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    overflow: hidden;
}

ul li {
    font-size: larger;
    padding: 15px 20px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
}

ul li span:hover {
    background: #979797;
    border-radius: 50%;
}

.item {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(225, 250, 197);
    font-size: larger;
}

.d1 {
    border-right: 2px solid black;
    padding-right: 10px;
}

.d2 {
    padding-left: 10px;
}

.checkbox {
    width: 18px;
    height: 48px;
}

.checked{
    text-decoration: line-through;
}
